.modalCont {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px;
    width: 520px;
    border-radius: 10px;
    background-color: var(--color-white);
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
    }
}

.titleConnt {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.title {
    font-family: var(--font-bebas);
    font-size: var(--font-size-h2);
    @media screen and (max-width: 768px) {
        font-size: var(--font-size-h3);
    }
}

.text {
    color: rgb(179, 179, 179);
    font-family: var(--font-inter);
    line-height: 160%;
}
.textWarrning {
    color: var(--color-caramel);
    font-weight: 500;
}