.container {
    margin: 80px auto;
    width: 800px;
    font-family: var(--font-inter);
    @media screen and (max-width: 998px) {
        width: 560px;
    }
    @media screen and (max-width: 768px) {
        margin: 40px auto;
    }
    @media screen and (max-width: 568px) {
        width: 100%;
    }
    
}