.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 426px;
    font-family: var(--font-inter);
    line-height: 160%;
    color: var(--color-white);
    background-color: var(--color-black);
    @media (max-width: 1600px) {
        width: 300px;
        height: 350px;
    }
    @media (max-width: 1200px) {
        width: 280px;
        height: 380px;
    }
    @media (max-width: 998px) {
        width: 48%;
        height: 380px;
    }
    @media (max-width: 568px) {
        width: 100%;
    }
}
.cardDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.postType {
    color: var(--color-caramel);
}
.cardTitle {
    font-size:var(--font-size-subtile-sec);
}