.contactQuestion {
    font-family: var(--font-inter);

}

.contactQuestionTitle {
    margin: 160px 0 48px 0;
    font-family: var(--font-bebas);
    font-size: var(--font-size-h3);

    @media screen and (max-width: 1600px) {
        margin-top: 80px;
    }
    @media screen and (max-width: 1200px) {
        margin-top: 20px 0;
    }
}